<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team [TEAM NAME] Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>

<body style="background-color: #E0FFFF">
  <div>
      <h1 style="background-color:tomato;">Welcome to CLOUD-X application- Cloud Training</h1>
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       Title: <input name="title" type="text" /> <br />
       Description: <input name="description" type="text" /> <br />
       <br />
        <input style="background-color:#F5CBA7" type="submit" name="Submit" value="submit" />
    </form>
  </div>
</body>
</html>
